header {
    width: 100%;
    padding: 20px;
    background-color: darkslategray;
    color: white;
}

header > h2 {
    vertical-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: darkslategray;
    color: white;
}